::ng-deep .mat-table {
  width: 100%;
}

section {
  min-height: 500px;
  position: relative;

  mat-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
