<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>EventsComponents</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.20/angular-material.min.css">
  <link rel="stylesheet" href="https://webstoragecomponent.z22.web.core.windows.net/assets/deeppurple-amber.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <style>
    device-events-grid {
      flex-basis: 420px;
      margin-right: 16px;
    }

    device-events-line-graph {
      width: 100%;
    }

  </style>
</head>

<body>
  <div class="container-fluid mt-3">
    <h3 class="mb-3">All Things Sensors - Analytics Web Component Library</h3>
    <div class="card mb-3">
      <h5 class="card-header">We are a Web Component first company</h5>
      <div class="card-body">
        <h5 class="card-title">Usage</h5>
        <p class="card-text">Add the script to your website. Choose either ES2015 version or ES5 depending on your
          browser support needs.</p>
        <p>
          <code>https://device-analytics.allthingssensors.com/main-es5.js</code>
        </p>
        <p>
          <code>https://device-analytics.allthingssensors.com/main-es2015.js</code>
        </p>

        <p class="card-text">Finally add the component selector with the appropriate inputs and outputs defined in the
          component documentation.</p>
      </div>
    </div>
    <div class="d-flex flex-lg-row flex-column">
      <div class="card mr-3" style="max-width: 600px;">
        <div class="card-body">
          <h5 class="card-title">Device Events Component</h5>
          <p class="card-text">
            Add the following element to your website. <code>device-events-grid</code> with the <code>device-id</code>
            attribute as the device id.
          </p>
          <device-events-grid device-id="20001f001247343438323536"></device-events-grid>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Device Line Graph Component</h5>
          <p class="card-text">
            Add the following element to your website. <code>device-events-line-graph</code> with the
            <code>device-id</code>
            attribute as the device id.
          </p>
        </div>
        <device-events-line-graph device-id="20001f001247343438323536"></device-events-line-graph>
      </div>
    </div>
  </div>
</body>

</html>
